<!DOCTYPE HTML>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>User</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'learner_app/css/style.css' %}" media="screen" title="no title"  charset="utf-8">
    </head>
    <body>
      <div id="wrapper">
        <div>
            <a href="/editor/editor_dashboard" class="navbar1">Editor Dashboard</a>
            <a href="/user/logout" class="navbar2">Logout</a>
        </div>
        <div class="oneperpage">
            <img id="logo_img" src="/static/learner_app/images/transparent-heart.png" alt="heart logo">
            <h1 id="greeting">Hello {{ this_user.first_name }}</h1></br>
            {% if num_subjects < 1 %}
                <h3>Here is a list of subjects you might be interested in:</h3>
            {% else %}
            <h3> Your subjects: </h3>
            <table>
                <thead>
                    <tr>
                        <th>Subject Title</th>
                        <th>Description</th>
                        <th>Created By</th>
                        <th>Number of Cards</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for subject in this_user.subjects_studying.all %}
                    <tr>
                        <td>{{ subject.title }}</td>
                        <td>{{ subject.description }}</td>
                        <td>{{ subject.created_by.first_name }} {{ subject.created_by.last_name }}</td>
                        <td>{{ subject.cards.all|length }} </td>
                        <td>
                            <a href="/learner/quiz/{{subject.id}}">Learn</a>
                            <a href="/learner/remove/{{subject.id}}">Remove</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table></br>
            <h3>Other subjects you may be interested in</h3>
            {% endif %}
            <table>
                <thead>
                    <tr>
                        <th>Subject Title</th>
                        <th>Description</th>
                        <th>Created By</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for subject in other_subjects %}
                    <tr>
                        <td>{{ subject.title }}</td>
                        <td>{{ subject.description }}</td>
                        <td>{{ subject.created_by.first_name }} {{ subject.created_by.last_name }}</td>
                        <td>
                            <a href="/learner/add_subject/{{subject.id}}">Add Subject</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div> 
      </div>
    </body>
</html>