<!DOCTYPE HTML>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>User</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'learner_app/css/style.css' %}" media="screen" title="no title"  charset="utf-8">
    </head>
    <body>
      <div id="wrapper">
        <div>
            <a href="/learner/learner_dashboard" class="navbar1">Home</a>
            <a href="/user/logout" class="navbar2">Logout</a>
        </div>
        <img id="logo_img" src="/static/learner_app/images/transparent-heart.png" alt="heart logo">
        <h1 id="greeting">Hello {{ this_user.first_name }}</h1></br>
        {% if num_subjects > 0 %}
        <h3>Your Subjects: </h3>
        <table>
            <thead>
                <tr>
                    <th>Subject Title</th>
                    <th>Updated At</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for subject in this_user.subjects_editing.all %}
                <tr>
                    <td>{{subject.title}}</td>                        
                    <td>{{subject.updated_at}}</td>
                    <td><a href="/editor/edit_subject/{{subject.id}}">Edit</a></td>
                    <td>delete</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
        <form action="/editor/create_subject" method="POST" >
            {% csrf_token %} 
            <input type="submit" name="" value="Create a New Subject" class="button3">
        </form>  
      </div>      
    </body>
</html>