<!DOCTYPE HTML>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>User</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'learner_app/css/style.css' %}" media="screen" title="no title"  charset="utf-8">
        <script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
        </head>
    <body>
      <div id="wrapper1">
        <div>
            <a href="/learner/learner_dashboard" class="navbar1">Home</a>
            <a href="/user/logout" class="navbar2">Logout</a>
        </div>
        <img id="logo_img" src="/static/learner_app/images/transparent-heart.png" alt="heart logo">
        <h1 id="greeting">{{ cur_card.subject.title }}</h1></br>
        <div class="oneperpage">
            <h3>Quiz Card</h3> 
            <p>Question: {{ cur_card.question }}
            <p>Hint: {{ cur_card.hint }}</p>
            <img src="/static/editor_app/{{ cur_card.img }}" alt="card image" height=200 width=200>            
            <label>Answer:</label>
            <form action="/learner/check_answer/" method="post">
                {% csrf_token %}
                <input type="hidden" name="card_answer" value={{cur_card.answer}}>
                <input type="text" name="learner_answer" value="">
                <input type="submit" name="" value="Submit Answer">
            </form>
            {% if status != 'none'%}
                <p>{{ status }}</p>
            {% endif %}
            {% if status == 'Please Try Again' %}
                <button id="show_answer">Show Answer</button>
            {% endif %}
            <div id="show_answer_div"></div>
            <form action="/learner/display_next_card" method="post">
                {% csrf_token %}
                <input type="submit" name="" value="Next Card">
            </form>
       </div>
    </div>
       <script>
            $('#show_answer').click(function(){
                // console.log('show_answer was clicked!')
                $.ajax({
                    url: '/learner/show_answer',
                    success: function(serverResponse) {
                        for (key in serverResponse[0].fields) {
                            console.log("key: ", key);
                        }
                        // console.log('success, serverResponse: ', serverResponse)
                        // console.log(serverResponse[0].fields.answer)
                        res_str = '<p>Answer is: '+serverResponse[0].fields.answer+'</p>'
                        // console.log(res_str)
                        $('#show_answer_div').html(res_str)
                    }
                })
            });
    
        </script>
    </body>
</html>