<!DOCTYPE HTML>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>User</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'user_app/css/style.css' %}" media="screen" title="no title"  charset="utf-8">
    </head>
    <body>
        <div class="twoperpage">
            <h3>Signin</h3>
            <form action="/user/process_login" method="POST">
                {% csrf_token %}
                <label>Email Address:</label>
                <input type="text" name="email" value="">
                <label>Password:</label>
                <input type="password" name="password" value="">
                <input class="button" type="submit" name = "" value="Signin">
            </form>
        </div>
        <div class="twoperpage">
            <h3>Register</h3>
            <form action="/user/process_register" method="POST">
                {% csrf_token %}
                <label>Email Address:</label>
                <input type="text" name="email" value="">
                <label>First Name:</label>
                <input type="text" name="first_name" value="">
                <label>Last Name:</label>
                <input type="text" name="last_name" value="">
                <label>Organization (optional):</label>
                <input type="text" name="organization" value="">
                <label>Password:</label>
                <input type="password" name="password" value="">
                <label>Password Confirmation:</label>
                <input type="password" name="pwd_confirm" value="">
                <input class="button" type="submit" name = "" value="Register">
            </form>    
        </div>
        {% for error in request.session.errors %}
            <p>{{ error }}</p>
        {% endfor %}                        
    </body>
</html>